<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            <canvas id="backgroundCanvas" class="backgroundCanvas">
            </canvas>
            @RenderBody()
        </main>
    </div>
    @{ /* External */}
    <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    @{ /* Local */}
    <script src="~/js/colorSplash.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>