@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.IsDownloaded) {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            colorSplash.start('backgroundCanvas');
        });</script>
}

<div class="index" style="height:100vh; width:100vw; position:relative;">

    @if (Model.IsDownloaded) {
        <video id="player" playsinline controls style="
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        margin-left: 0;
        ">
            <source src="@Model.Path" type="video/webm" />
        </video>
    }
    else {
        <span style="color: white"><b>No Episode Found</b></span>
    }
</div>